<div class="container">
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <h4>Log In</h4>

  <form method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <p><a href="/forgot">Forgot your password?</a></p>
    <button type="submit">Log in</button>
  </form>

  <hr>

  <a href="/auth/facebook">Sign in with Facebook</a>
  <br>
  <a href="/auth/twitter">Sign in with Twitter</a>
  <br>

  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
